@import 'assets/styles/abstract/color';
@import 'assets/styles/abstract/font';
@import 'assets/styles/abstract/screen';
@import 'assets/styles/abstract/shadow';
@import 'assets/styles/abstract/icon';
@import 'assets/styles/abstract/variables';
@import 'assets/styles/abstract/functions';
@import 'assets/styles/abstract/flex';
@import 'assets/styles/abstract/mixins';
@import 'assets/styles/abstract/animations';

@import "assets/styles/base/reset";
@import "assets/styles/base/base";

@import "assets/styles/layout/form";
@import "assets/styles/component/button";
@import "assets/styles/component/card";
@import "assets/styles/component/row";
@import "assets/font/icon";

@include build-margin();
@include build-padding();

:root {
  --note-width: 250px;
  --note-height: calc(var(--note-width) * 1.5);
}

@media (max-width: $minMedium) {
  :root {
    --note-width: 200px;
  }
}

@media (max-width: $minSmall) {
  :root {
    --note-width: 150px;
  }
}

.notes-container {
  display: flex;

  .notes {
    flex: 1;
    max-width: min(500px, 30vw);
    min-width: 350px;
    height: 100vh;
    overflow-y: auto;

    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    /* Hide scrollbar for Chrome, Safari and Opera */
    ::-webkit-scrollbar {
      display: none;
    }
  }

  @media (max-width: $minMedium) {
    .notes {
      max-width: none;
    }

    .preview-container {
      display: none;
    }
  }

  .preview-container {
    flex: 1;
  }

  .preview {
    padding: 32px;
    height: 100vh;
    position: relative;
    overflow-y: scroll;

    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    /* Hide scrollbar for Chrome, Safari and Opera */
    ::-webkit-scrollbar {
      display: none;
    }

    .title {
      outline: none;
      padding-top: 3px;
      padding-bottom: 3px;
      padding-left: 1px;
      font-size: 30px;
      line-height: 1;
      font-weight: $bold;
      margin-bottom: 32px;
    }

    .images-container {
      img {
        border-radius: 8px;
        max-width: 100%;
      }
    }

    &.blue {
      background-color: blue;
      background: linear-gradient(45deg, $indigo900 30%, $indigo800 100%);
    }

    &.red {
      background-color: blue;
      background: linear-gradient(45deg, $red900 30%, $red800 100%);
    }

    &.orange {
      background-color: blue;
      background: linear-gradient(45deg, $orange900 30%, $orange800 100%);
    }

    &.green {
      background-color: blue;
      background: linear-gradient(45deg, $green900 30%, $green800 100%);
    }

    &.black {
      background-color: blue;
      background: linear-gradient(45deg, $grey900 30%, $grey800 100%);
    }

    &.white {
      background-color: blue;
      background: linear-gradient(45deg, $white 30%, $grey200 100%);

      color: black;
    }

    .title, .content {
      i {
        font-style: italic;
      }
    }
  }
}

.note {
  @include variable(background-color, rgb(var(--surface)), #000);
  @include variable(color, rgb(var(--on-surface)), #000);
  cursor: pointer;
  overflow: hidden;

  .ribbon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 6px;

    &.blue {
      background-color: $indigo900;
    }

    &.red {
      background-color: $red900;
    }

    &.orange {
      background-color: $orange900;
    }

    &.green {
      background-color: $green900;
    }

    &.black {
      background-color: $grey900;
    }

    &.white {
      background-color: $white;
    }
  }

  .title {
    font-size: 18px;
    margin-bottom: 4px;
    opacity: 0.9;
    @include text-ellipsis();
  }

  .content {
    font-size: 14px;
    opacity: 0.6;
    height: 14px;
    @include text-ellipsis();
  }

  .title, .content {
    i {
      font-style: italic;
    }
  }
}

.thin {
  font-weight: $thin;
}

.light {
  font-weight: $light;
}

.regular {
  font-weight: $regular;
}

.medium {
  font-weight: $medium;
}

.bold {
  font-weight: $bold;
}

.weightBlack {
  font-weight: $weightBlack;
}

.pellet {
  cursor: pointer;
  width: 24px;
  height: 24px;
  border: 2px solid black;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;

  i {
    font-size: 15px;
  }

  &.blue {
    background-color: $blue500;
    border-color: $blue700;
  }

  &.orange {
    background-color: $orange500;
    border-color: $orange700;
  }

  &.red {
    background-color: $red500;
    border-color: $red700;
  }

  &.green {
    background-color: $green500;
    border-color: $green700;
  }

  &.black {
    background-color: $black;
    border-color: $grey800;
  }

  &.white {
    background-color: $white;
    border-color: $grey200;

    i {
      color: #000;
    }
  }
}

.upload-container {
  position:fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;

  i {
    font-size: 100px;
  }
}
