<div class="notes-container">
    <div class="notes p-16" [ngClass]="{'is-mobile': isMobile, 'disabled': note && isMobile}">
        <div class="mb-16 flex" style="justify-content: end;">
            <div class="fill">
                <dynamic-form-section [questions]="questions" (onValid)="onValid($event)"></dynamic-form-section>
            </div>

            <div class="ml-16">
                <c7z-button class="secondary grey" icon="add" (onClick)="createNote()"></c7z-button>
            </div>
        </div>

        <div class="notes-list">
            <ng-container *ngIf="displayList?.length > 0">
                <ng-container *ngFor="let note of displayList">
                    <note-item [data]="note" (click)="detail(note)"></note-item>
                </ng-container>

                <visible (visible)="onVisible()"></visible>
            </ng-container>
        </div>
    </div>

    <ng-container *ngIf="note">
        <div class="preview-container">
            <note-preview [data]="note" (onUpdate)="onUpdate($event, note)" (onRemove)="onRemove(note)" (onClose)="onClose(note)"></note-preview>
        </div>
    </ng-container>
</div>
